html{
    font-size: 16px;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
*,::after,::before{
   padding: 0;
   margin: 0;
   box-sizing: inherit;
}
body{
   width: 100%;
   height: 100vh;
   padding: 0;
   margin: 0;
}
.container{
   display: flex;
   flex-direction: column;
   
}
/* -------------------HEADER------------ */
.header{
   position: sticky;
   top: 0;
   padding: 0 2rem; 
   border: 1px solid black;
   background-color: rgba(0, 43, 236, 0.94);
   height: 4rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
}
.nav{
   font-size: 1.2rem;
   display: flex;
   gap: 20px;
   justify-content:space-between;
}
.nav_pagename{
   text-decoration: none;
   color: white;
}
.nav_ul{
   display: flex;
   gap:2rem;
}
.nav_li{
   list-style: none;
}
.nav_a{
   text-decoration: none;
   color: white;
}
.nav_access{
   text-decoration: none;
   padding: 0.5rem 1rem;
   border-radius: 1rem;
}
/* -----------------MAIN--------------- */
/* -----------------SECTION: PRESENTATION--------------- */

.presentation{
   height: calc(100vh - 4rem);
   display: grid;
   grid-template-columns: 1fr 1fr 1fr ;
   grid-template-rows: 1fr 7rem;
   grid-template-areas: "title image bottonn"
                        "footer footer footer";
   margin-bottom: 2rem;
}
.presentation_titlediv,
.presentation_imagediv,
.presentation_bottondiv,
.presentation_footer{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
}

.presentation_titlediv{
   grid-area: title;
}
.presentation_h1{}
.presentation_imagediv{
   grid-area: image;
}
.presentation_img{}
.presentation_bottondiv{
   grid-area: bottonn;
}
.presentation_a{
   background-color: rgba(0, 43, 236, 0.94);
   color: white;
   text-decoration: none;
   padding: 1rem 4rem;
   border-radius: 1rem;
}
.presentation_footer{
   grid-area: footer;
   background-color: rgba(0, 43, 236, 0.94);
   color: white;
   flex-direction: column;
}
.presentation_footer_h2{}

.presentation_footer_p{}
/* -----------------SECTION: LESSONS--------------- */
.lessons{
   display: flex;
   flex-direction: column;
   height: calc(100vh - 4rem);
}
.container_title{
   /* border: 1px solid black; */
   display: flex;
   justify-content: center;
   align-items: center;
   height: 3rem;
   /* box-shadow: 0 0 10px ; */
   
}
.lessons_title{}

.container_cards{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   gap: 1rem;
   flex-wrap: wrap;
   padding: 3rem;
}
.container_cards_2,
.container_cards_1{
   display: flex;
   flex-direction: row;
   gap: 2rem;
}
.container_cards_2{

}

.lessons_article{}
.card{
   background-color: whitesmoke;
   /* border: 1px solid black; */
   width: 250px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-radius: 1rem;
   box-shadow: 0 0 10px;
   padding: 1rem;
   gap: 1rem;
}
.card_img{
   width: 80px;
}
.card_container{
   transition: 1s;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.card_title{}
.card_paragraph{
   text-align: center;
}