html{
    font-size: 16px;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
*,::after,::before{
   padding: 0;
   margin: 0;
   box-sizing: inherit;
}
body{
   width: 100%;
   height: 100vh;
   padding: 0;
   margin: 0;
}
.container-header-main{
   min-height: 100vh;
   display: grid;
   grid-template-rows: 4rem auto;
}
/* -------------------HEADER------------ */
.header{
   position: sticky;
   top: 0;
   padding: 0 2rem; 
   border: 1px solid black;
   background-color: rgba(27, 59, 204, 0.724);
   height: 4rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.nav{
   font-size: 1.2rem;
   display: flex;
   gap: 20px;
   justify-content:space-between;
}
.nav_pagename{
   text-decoration: none;
   color: white;
}
.nav_ul{
   display: flex;
   gap:2rem;
}
.nav_li{
   list-style: none;
}
.nav_a{
   text-decoration: none;
   color: white;
}
.nav_access{}
/* -----------------MAIN--------------- */
.main{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr ;
   grid-template-rows: 1fr 7rem;
   grid-template-areas: "title image bottonn"
                        "footer footer footer";
}
.main_titlediv,
.main_imagediv,
.main_bottondiv,
.main_footer{
   justify-self: center;
   align-self: center
}

.main_titlediv{
   grid-area: title;
}
.main_h1{}
.main_imagediv{
   grid-area: image;
}
.main_img{}
.main_bottondiv{
   grid-area: bottonn;
}
.main_a{}
.main_footer{
   grid-area: footer;
}
.footer_h2{}
.footer_p{}
/* ------------------- */